// Flex Container
@mixin flex-container($inline: false) {
  @if $inline {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
  } @else {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
}

@mixin flex-direction($direction) {
  flex-direction: $direction;
  -webkit-flex-direction: $direction;
}

@mixin flex-wrap($wrap) {
  flex-wrap: $wrap;
  -webkit-flex-wrap: $wrap;
}

@mixin flex-flow($flow) {
  flex-flow: $flow;
  -webkit-flex-flow: $flow;
}

@mixin flex-justify-content($content) {
  justify-content: $content;
  -webkit-justify-content: $content;
}

@mixin flex-align-items($align) {
  align-items: $align;
  -webkit-align-items: $align;
}

@mixin flex-align-content($align) {
  align-content: $align;
  -webkit-align-content: $align;
}

// Flex Container
@mixin flex-order($order) {
  order: $order;
  -ms-flex-order: $order;
  -webkit-order: $order;
}

@mixin flex-shrink($shrink) {
  flex-shrink: $shrink;
  -webkit-flex-shrink: $shrink;
}

@mixin flex-basis($basis) {
  flex-basis: $basis;
  -webkit-flex-basis: $basis;
}

@mixin flex-size($grow, $shrink: auto) {
  -webkit-box-flex: $grow $shrink;
  -moz-box-flex: $grow $shrink;
  -webkit-flex: $grow $shrink;
  -ms-flex: $grow $shrink;
  flex: $grow $shrink;
}

@mixin flex-align-self($align) {
  align-self: $align;
  -webkit-align-self: $align;
}
